.navbar{
    background-color: white;
    color: black;
    padding: 10px;
}

.navbar img{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(78, 78, 211);
    border-radius: 5px;
}

.navbar ul li{
    margin: 10px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    color: black;
}

.navbar .eci div button{
    border-radius: 100%;
    background-color: white;
}

.navbar .eci div button img[type="bg"]{
    width: 45px;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 100%;
}

.srv{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.srv div img[type="install"]{
    width: 100%;
    height: 425px;
    padding: 10px;
    border: 1px solid blueviolet;
    box-shadow: 1px 1px 8px blue;
}

.srv div h2{
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
    color: black;
    font-family: special;
}

@font-face {
    font-family: special;
    src: url("Assets/kenyan\ coffee\ rg");
}

.srv div a span img{
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}

.srv div a{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.srv div p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.srv1{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.srv1 div h2{
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
    font-family: zm;
}

@font-face {
    font-family: zm;
    src: url("Assets/kenyan\ coffee\ rg");
}

.srv1 div p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.srv1 div ul li p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    font-family: zm;
}

.srv1 div img{
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(71, 58, 84);
    padding: 10px;
}

.srv2{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.srv2 div h2{
    font-size: 28px;
    font-weight: 500;
    padding: 10px;
    color: black;
    position: relative;
    text-align: center;
    animation: zoom 8s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    font-family: special;    
}

@keyframes zoom{
    from{
        font-size: 28px;
        font-weight: 500;
        color: black;
    }
    to{
        font-size: 36px;
        font-weight: 800;
        color: blue;
    }
}

.srv2 div p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.srv2 .card{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.srv2 .card img{
    width: 100%;
    background-color: black;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.srv2 .card .card-body{
    padding: 10px;
}

.srv2 .card .card-body div h4{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.srv2 .card .card-body div h3{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    font-family: special;
}

.srv2 .card .card-body div h3 span img[type="star"]{
    width: 105px;
    height: 45px;
    padding: 10px;
    border: 0.5px solid blueviolet;
    background-color: transparent;
    border-radius: none;
}

.srv2 .card .card-body div h3 span img[type="star"]:hover{
    background-color: rgb(105, 64, 143);
}

.srv2 .card .card-body div h5{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.srv2 .card .card-body div a{
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    color: blue;
}

.srv3{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 45px;
}

.srv3 div h2{
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-family: special;
}

.srv3 div p{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.srv3 .card{
    width: 100%;
    padding: 10px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: white;
}

.srv3 .card img{
    width: 100%;
    height: 225px;
    background-color: black;
    border: 1px solid blue;
    border-radius: 5px;
}

.srv3 .card .card-body{
    padding: 10px;
    text-align: center;
}

.srv3 .card .card-body div p{
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
    font-family: special;
}

.srv3 .card .card-body div h5{
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
}

.srv3 .card .card-body div p span{
    color: blue;
}

.srv5{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 15px;
}

.srv5 div h2{
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    font-family: special;
}

.srv5 .card{
    width: 100%;
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
}

.srv5 .card img{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(127, 99, 153);
}

.srv5 .card .card-body{
    padding: 10px;
}

.srv5 .card .card-body div h3{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    font-family: special;
}

.bg6{
    width: 100%;
    height: 100%;
    background-image: url("Assets/Expert\ Coworker\ Servicing-1.jpg");
    color: white;
    padding: 45px;
    background-position: center;
    background-size: cover;
}

.bg6 .rex{
    width: 75%;
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px blueviolet;
    text-align: center;
}

.bg6 .rex div h3{
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
    color: blue;
}

.bg6 .rex div p{
    font-size: 22px;
    font-weight: 800;
    padding: 10px;
    color: black;
    font-family: special;
}

.ftr{
    width: 100%;
    height: 100%;
    background-color: rgb(103, 86, 186);
    color: white;
    padding: 45px;
    border: 2px solid black;
}

.ftr div a img{
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.ftr div h2{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.ftr div ul li a h4{
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: black;
}

.ftr div ul li a h4 span img{
    width: 40px;
    height: 40px;
}

.ftr div h3{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
}

.ftr div ul p{
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.ftr div p span img{
    width: 45px;
    height: 45px;
    padding: 10px;
}